@model IEnumerable<RegistroVisitantes.Models.RESERVACION>

@{
    ViewBag.Title = "ListReservas";
    //ViewBag.Abc = new DateTime(2015, 1, 18);
}

<br />
<br />

<h2>Consulta de Reservas</h2>
@using (Html.BeginForm())
{
    <p>
        Buscar por fecha:
        <input type="date" name="filterDate" value="@string.Format("{0:yyyy-MM-dd}", ViewBag.fromDate)" />
        <input type="submit" value="Buscar" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GRUPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTRA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESPONSABLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLICITANTE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GRUPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTRA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESPONSABLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLICITANTE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
