@model IEnumerable<RegistroVisitantes.Models.CONTACTO>

@{
    ViewBag.Title = "ListVisitantes";
}

<br />
<br />

<h2>ListVisitantes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_MAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDENTIFICATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS_L1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIRST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_MAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDENTIFICATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS_L1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CONTACTO1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.CONTACTO1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CONTACTO1 })
        </td>
    </tr>
}

</table>
