@model PagedList.IPagedList<RegistroVisitantes.Models.RESERVACION>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListReservas";
    //ViewBag.Abc = new DateTime(2015, 1, 18);
}

<br />
<br />

<h2>Consulta de Reservas</h2>
@using (Html.BeginForm())
{
    <p>
        Buscar por fecha:
        <input type="text" name="fromDate" id="fromDate" value="@string.Format("{0:d}", ViewBag.fromDate)"/>
        <input type="text" name="toDate" id="toDate" value="@string.Format("{0:d}", ViewBag.toDate)" />
        <input type="submit" value="Buscar" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered table-striped table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().GRUPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ENTRA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SALE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().RESPONSABLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SOLICITANTE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GRUPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTRA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESPONSABLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLICITANTE)
        </td>
        <td>
            @Html.ActionLink("Ver Pre-registros", "ListVisitantes", new { ID=item.ID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Pagina => Url.Action("ListReservas",
        new { Pagina, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
 
@section Scripts{
   
    <script type="text/javascript">
        $(document).ready(function () {
         
            $("#fromDate").datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button",
                onSelect: function (date) {
                    var dt1 = $('#fromDate').datepicker('getDate');
                    var dt2 = $('#toDate').datepicker('getDate');
                    if (dt2 <= dt1) {
                        dt1.setDate(dt1.getDate() + 1);
                        $('#toDate').datepicker('setDate', dt1);
                    } else {
                        dt1.setDate(dt1.getDate() + 1);
                    }
                    $('#toDate').datepicker('option', 'minDate', dt1);
                }
            });
            $('#toDate').datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button"
            });
            var date2 = $('#toDate').datepicker('getDate');
            $('#toDate').datepicker('option', 'minDate', date2);
        
        });
    </script>
}