@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambiar estado</h2>

<h3>¿Está seguro de que desea cambiar el estado?</h3>
<hr />
<div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            @Html.DisplayNameFor(model => model.CEDULA)
            @Html.DisplayFor(model => model.CEDULA)
        </div>
        <div class="col-lg-6">
            @Html.DisplayNameFor(model => model.PERSONA.NOMBRE)
            @Html.DisplayFor(model => model.PERSONA.NOMBRE)
        </div>
    </div>

    <hr>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cambiar" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
