@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = "Cambiar estado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambiar estado</h2>

<h3>¿Está seguro de que desea cambiar el estado de este visitante?</h3>
<hr />
<div>
    <div class="col-sm-12">
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.CEDULA, "Identificación", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.NOMBRE, "Nombre", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
    </div>

    <br /> <br /> <br /> <br /> <br />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-sm-6" style="float:left">
            <input type="submit" value="Cambiar" class="btn btn-successOET" />
            <button class="btn btn-cancelOET" onclick="location.href='@Url.Action("Index", "Visitantes")';return false;">Cancelar</button>
        </div>
    }
</div>
