@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = @ViewResources.Resources.oet_titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<h2>@ViewResources.Resources.oet_titulo</h2>
@using (Html.BeginForm("ChangeCulture", "Visitantes", new { idRes = ViewBag.idRes, cedula=ViewBag.ced}))
{
 <p>
@(ViewResources.Resources.seleccionarLen): @Html.DropDownList("ddlCulture", new SelectList(new[]
 {new{value="es",text=@ViewResources.Resources.spanish},
 new{value="en",text=@ViewResources.Resources.english},
  new{value="fr",text=@ViewResources.Resources.french}
 }, "value", "text", Session["CurrentCulture"]), new { onchange = "this.form.submit();", @class = "form-control" })
    </p>
}

<div>
    <hr />

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_personal</h2>
        <br />
        <div id="personalInfo">
           
             <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NOMBRE, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.APELLIDO, @ViewResources.Resources.oet_apellidos + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NACIONALIDAD, @ViewResources.Resources.oet_nacionalidad + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.NACIONALIDAD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.CEDULA, @ViewResources.Resources.oet_id + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
            <div class="form-group col-sm-6" style="margin-top: 20px">
                @Html.LabelFor(model => model.PERSONA.DIRECCION, @ViewResources.Resources.oet_direccion + ":", htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.TELEFONO, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.EMAIL, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.GENERO, @ViewResources.Resources.oet_sexo + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.GENERO, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.sexo, @readonly = "readonly" } })
            </div>

        

        </div>
    </div>


        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_contactosTitulo</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.TEL_EMERGENCIA, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.TEL_EMERGENCIA, (String)ViewBag.sexo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.EMAIL_EMERGENCIA, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.REL_EMERGENCIA, @ViewResources.Resources.oet_contactoRelacion + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

        </div>
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_resTitulo</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DIETA, @ViewResources.Resources.oet_dieta, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.DIETA, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.dieta, @readonly = "readonly" } })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.OBSERVACIONES_DIETA, @ViewResources.Resources.oet_otrasRes + ":", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.OBSERVACIONES_DIETA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                <label for="dieta">@ViewResources.Resources.oet_preferencias</label>
                <br />
                @Html.LabelFor(model => model.CARNE, @ViewResources.Resources.oet_carne, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.CARNE, new { @class = "form-control, (bool)ViewBag.Carne" })
                @Html.LabelFor(model => model.POLLO, @ViewResources.Resources.oet_pollo, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.POLLO, new { @class = "form-control, (bool)ViewBag.Pollo" })
                @Html.LabelFor(model => model.PESCADO, @ViewResources.Resources.oet_pescado, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.PESCADO, new { @class = "form-control, (bool)ViewBag.Pescado" })
                @Html.LabelFor(model => model.CERDO, @ViewResources.Resources.oet_cerdo, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.CERDO, new { @class = "form-control, (bool)ViewBag.Cerdo" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ALERGIAS, @ViewResources.Resources.oet_alergias + ":", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.ALERGIAS, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ALERGIAS, "", new { @class = "text-danger" })
            </div>



        </div>
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.es_como</h2>
            <br />

            <div class="form-group col-sm-6">
                @*@Html.LabelFor(model => model.COMOENTERO,  htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.COMO_ENTERO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.COMO_ENTERO, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_waiverTitulo</h2>
        <div class="well" style="font-size:medium">
            @ViewResources.Resources.oet_waiver
        </div>
    </div>
</div>

<p>
    @Html.ActionLink(@ViewResources.Resources.editar, "EditESINTRO", new { idRes = Model.ID_RESERVACION, ced = Model.CEDULA })
</p>
