@model RegistroVisitantes.Models.PREREGISTRO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PREREGISTRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDRESERVACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDRESERVACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROPOSITO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROPOSITO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDGRUPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDGRUPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMOENTERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMOENTERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMCURSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMCURSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMCURSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMCURSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROLCURSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLCURSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMPROYECTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMPROYECTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVERSIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVERSIONES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESOLUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESOLUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERMISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERMISO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPIRACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPIRACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACTO.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACTO.FIRST_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NUMPREREGISTRO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
