@model RegistroVisitantes.Models.INFOVISITA

@{
  ViewBag.Title = "DetailsOET";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  <hr />
    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">Información Personal</h2>
        <br />
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.NOMBRE, "Nombre", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.APELLIDO, "Apellidos", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.NACIONALIDAD, "Nacionalidad", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.NACIONALIDAD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.CEDULA, "Identificación", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.TITULO, "Titulo", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.TITULO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>

        <div class="form-group  col-sm-6">
            @Html.LabelFor(model => model.PERSONA.CIUDAD, "Provincia", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.CIUDAD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.PAIS, "País", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.PAIS, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.COD_POSTAL, "Código Postal", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.COD_POSTAL, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>


        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.DIRECCION, "Dirección", htmlAttributes: new { @class = "control-label " })
            @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { disabled = "disabled", @class="form-control" })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.TELEFONO, "Teléfono", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            <br />
        </div>        

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.EMAIL, "Correo eléctronico", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
        <div class="form-group col-sm-6"> 
            @Html.LabelFor(model => model.PERSONA.GENERO, "Sexo", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.GENERO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.sexoList } })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.INSTITUCION, "Institución", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.INSTITUCION, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
    </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">Contacto de Emergencia</h2>
        <br />
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, "Nombre", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.TEL_EMERGENCIA, "Teléfono", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.TEL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.EMAIL_EMERGENCIA, "Correo Eléctronico", htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.REL_EMERGENCIA, "Relación", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

    </div>
    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">Restricciones Dietarias y Alergias</h2>
        <br />
        <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DIETA, "Dieta", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.DIETA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.dieta } })
         </div>


        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.OBSERVACIONES_DIETA, "Otra Dieta", htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { disabled = "disabled", @class = "form-control" })
        </div>

        <div class="form-group col-sm-6">
            <label for="dieta">Preferencia</label>
            <br />

            @Html.LabelFor(model => model.CARNE, "Carne", htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.CARNE, new { htmlAttributes = new {@class = "form-control" } })
            @Html.LabelFor(model => model.POLLO, "Pollo", htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.POLLO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.PESCADO, "Pescado", htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.PESCADO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.CERDO, "Cerdo", htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.CERDO, new { htmlAttributes = new { @class = "form-control"} })

        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.ALERGIAS, "Alergias", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ALERGIAS, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly"} })
        </div>

    </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">Propósito de la Visita</h2>
        <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PROPOSITO, "Propósito", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PROPOSITO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
            <div id="textboxOtroProposito" class="form-group col-sm-6">
                @Html.LabelFor(model => model.OTRO_PROPOSITO, "Otro", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.OTRO_PROPOSITO, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
            </div>        
       </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">Solo para Participantes de Cursos</h2>
        <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NOMBRE_CURSO, "Nombre del Curso", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NOMBRE_CURSO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_CURSO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NUMERO_CURSO, "Número del Curso", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NUMERO_CURSO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NUMERO_CURSO, "", new { @class = "text-danger" })
            </div>
            <br />
  
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ROL_CURSO, "Participa como", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ROL_CURSO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ROL_CURSO, "", new { @class = "text-danger" })
            </div>
    </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">Posición(For Investigators)</h2>
        <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.POSICION, "Posición", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.POSICION, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.PERSONA.POSICION, "", new { @class = "text-danger" })
            </div>
    </div>
</div>
<p>
  @Html.ActionLink("Editar", "EditOET", new { idRes = Model.ID_RESERVACION, ced = Model.CEDULA })
</p>
