@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = @ViewResources.Resources.oet_titulo;
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<script>
    document.getElementById("visitantes").className += "active";
</script>

<h2>@ViewResources.Resources.oet_titulo</h2>
@using (Html.BeginForm("ChangeCulture", "Visitantes", new { idRes = ViewBag.idRes, cedula = ViewBag.ced }))
{
    <p>
        @(ViewResources.Resources.seleccionarLen): @Html.DropDownList("ddlCulture", new SelectList(new[]
        {
            new {value="es",text=@ViewResources.Resources.spanish},
            new{value="en",text=@ViewResources.Resources.english},
            new{value="fr",text=@ViewResources.Resources.french}
        }, "value", "text", Session["CurrentCulture"]), 
        new { onchange = "this.form.submit();", @class = "form-control" })
    </p>
}

<div>
  <hr />
    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_personal</h2>
        <br />
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.NOMBRE, @ViewResources.Resources.oet_nombre, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.APELLIDO, @ViewResources.Resources.oet_apellidos, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.NACIONALIDAD, @ViewResources.Resources.oet_nacionalidad, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.NACIONALIDAD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.CEDULA, @ViewResources.Resources.oet_id, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.TITULO, @ViewResources.Resources.oet_tituloPer, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.TITULO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>

        <div class="form-group  col-sm-6">
            @Html.LabelFor(model => model.PERSONA.CIUDAD, @ViewResources.Resources.oet_ciudad, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.CIUDAD, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.PAIS, @ViewResources.Resources.oet_pais, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.PAIS, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.COD_POSTAL, @ViewResources.Resources.oet_codigo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.COD_POSTAL, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>


        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.DIRECCION, @ViewResources.Resources.oet_direccion, htmlAttributes: new { @class = "control-label " })
            @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { disabled = "disabled", @class="form-control" })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.TELEFONO, @ViewResources.Resources.oet_telefono, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            <br />
        </div>        

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.EMAIL, @ViewResources.Resources.oet_correo, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
        <div class="form-group col-sm-6"> 
            @Html.LabelFor(model => model.PERSONA.GENERO, @ViewResources.Resources.oet_sexo, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.GENERO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.sexoList } })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.PERSONA.INSTITUCION, @ViewResources.Resources.oet_institucion, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.PERSONA.INSTITUCIONI.FULL_NAME, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
    </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_contactosTitulo</h2>
        <br />
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, @ViewResources.Resources.oet_nombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.TEL_EMERGENCIA, @ViewResources.Resources.oet_telefono, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.TEL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.EMAIL_EMERGENCIA, @ViewResources.Resources.oet_correo, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.REL_EMERGENCIA, @ViewResources.Resources.oet_contactoRelacion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

    </div>
    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_resTitulo</h2>
        <br />
        <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DIETA, @ViewResources.Resources.oet_dieta, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.DIETA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.dieta } })
         </div>


        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.OBSERVACIONES_DIETA, @ViewResources.Resources.oet_otrasRes, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { disabled = "disabled", @class = "form-control" })
        </div>

        <div class="form-group col-sm-6">
            <label for="dieta">@ViewResources.Resources.oet_preferencias</label>
            <br />

            @Html.LabelFor(model => model.CARNE, @ViewResources.Resources.oet_carne, htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.CARNE, new { htmlAttributes = new {@class = "form-control" } })
            @Html.LabelFor(model => model.POLLO, @ViewResources.Resources.oet_pollo, htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.POLLO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.PESCADO, @ViewResources.Resources.oet_pescado, htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.PESCADO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.CERDO, @ViewResources.Resources.oet_cerdo, htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.CERDO, new { htmlAttributes = new { @class = "form-control"} })

        </div>

        <div class="form-group col-sm-6">
            @Html.LabelFor(model => model.ALERGIAS, @ViewResources.Resources.oet_alergias, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.ALERGIAS, new { @class = "form-control", disabled = "disabled", @readonly = "readonly"})
        </div>

    </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_propositoTitulo</h2>
        <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PROPOSITO, @ViewResources.Resources.oet_proposito, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PROPOSITO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
            <div id="textboxOtroProposito" class="form-group col-sm-6">
                @Html.LabelFor(model => model.OTRO_PROPOSITO, @ViewResources.Resources.oet_otro, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.OTRO_PROPOSITO, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
            </div>        
       </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_solocursos</h2>
        <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NOMBRE_CURSO, @ViewResources.Resources.oet_cursoNombre, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NOMBRE_CURSO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NUMERO_CURSO, @ViewResources.Resources.oet_cursoNum, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NUMERO_CURSO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
            <br />
  
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ROL_CURSO, @ViewResources.Resources.oet_cursoRol, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ROL_CURSO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
    </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_investPosTitulo</h2>
        <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.POSICION, @ViewResources.Resources.oet_posicion, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.POSICION, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
    </div>

    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_waiverTitulo</h2>
        <div class="well" style="font-size:medium">
            @ViewResources.Resources.oet_waiver
        </div>
    </div>

</div>


    <div class="col-sm-6" style="float:left; margin-bottom:15px;">
        <button class="btn btn-success" onclick="location.href='@Url.Action("EditOET", new { idRes = Model.ID_RESERVACION, ced = Model.CEDULA })';return false;">Editar</button>
        <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Visitantes")';return false;">Volver</button>
    </div>

