@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = "EditESINTRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

}

<script>
    document.getElementById("visitantes").className += "active";
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_RESERVACION)
        @Html.HiddenFor(model => model.CEDULA)
        @Html.HiddenFor(model => model.PERSONA.PAIS)
        @Html.HiddenFor(model => model.PERSONA.ESTADO)
        @Html.HiddenFor(model => model.PERSONA.CIUDAD)
        @Html.HiddenFor(model => model.PERSONA.POSICION)
        @Html.HiddenFor(model => model.PERSONA.INSTITUCION)
        @Html.HiddenFor(model => model.PERSONA.TITULO)
        @Html.HiddenFor(model => model.PERSONA.ROL)
        @Html.HiddenFor(model => model.PERSONA.COD_POSTAL)
        @Html.HiddenFor(model => model.PERSONA.CEDULA)
        @Html.HiddenFor(model => model.PERSONA.ESTADO)
        @Html.HiddenFor(model => model.ESTADO)
    <div>
        <hr />
         <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Personal Information</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NOMBRE, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.NOMBRE, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.APELLIDO, @ViewResources.Resources.oet_apellidos + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.APELLIDO, "", new { @class = "text-danger" })
            </div>
             <div class="form-group col-sm-6">
                 @Html.LabelFor(model => model.PERSONA.NACIONALIDAD, @ViewResources.Resources.oet_nacionalidad + ":", htmlAttributes: new { @class = "control-label " })
                 @Html.EditorFor(model => model.PERSONA.NACIONALIDAD, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.PERSONA.NACIONALIDAD, "", new { @class = "text-danger" })
             </div>  
             <div class="form-group col-sm-6">
                 @Html.LabelFor(model => model.PERSONA.CEDULA, @ViewResources.Resources.oet_id + ":", htmlAttributes: new { @class = "control-label " })
                 @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                 @Html.ValidationMessageFor(model => model.PERSONA.CEDULA, "", new { @class = "text-danger" })
             </div>   
    

            <div class="form-group col-sm-6" style="margin-top: 20px">
                @Html.LabelFor(model => model.PERSONA.DIRECCION, @ViewResources.Resources.oet_direccion + ":", htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.DIRECCION, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.TELEFONO, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.TELEFONO, "", new { @class = "text-danger" })
            </div>

             <div class="form-group col-sm-6">
                 @Html.LabelFor(model => model.PERSONA.EMAIL, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label" })
                 @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control", @id = "e-mail" } })
                 @Html.ValidationMessageFor(model => model.PERSONA.EMAIL, "", new { @class = "text-danger" })
             </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.GENERO, @ViewResources.Resources.oet_sexo + ":", htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.PERSONA.GENERO, (IEnumerable<SelectListItem>)ViewBag.listSexo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.GENERO, "", new { @class = "text-danger" })
            </div>
            </div>

            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_contactosTitulo</h2>
                <br />
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.TEL_EMERGENCIA, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.TEL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.EMAIL_EMERGENCIA, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.REL_EMERGENCIA, @ViewResources.Resources.oet_contactoRelacion + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_resTitulo</h2>
                <br />
               

                    <div class="form-group col-sm-6" style="margin-top: -5px; margin-left:0px">
                        @Html.LabelFor(model => model.DIETA, @ViewResources.Resources.oet_dieta, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.DIETA, (IEnumerable<SelectListItem>)ViewBag.listDieta, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DIETA, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.OBSERVACIONES_DIETA, @ViewResources.Resources.oet_otrasRes + ":", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OBSERVACIONES_DIETA, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-sm-6">
                        <label for="dieta">@ViewResources.Resources.oet_preferencias</label>
                        <br />                                             
                        @Html.LabelFor(model => model.CARNE, @ViewResources.Resources.oet_carne, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.CARNE, new { @class = "form-control, (bool)ViewBag.Carne" })
                        @Html.LabelFor(model => model.POLLO, @ViewResources.Resources.oet_pollo, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.POLLO, new { @class = "form-control, (bool)ViewBag.Carne" })
                        @Html.LabelFor(model => model.PESCADO, @ViewResources.Resources.oet_pescado, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.PESCADO, new { @class = "form-control, (bool)ViewBag.Carne" })
                        @Html.LabelFor(model => model.CERDO, @ViewResources.Resources.oet_cerdo, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.CERDO, new { @class = "form-control, (bool)ViewBag.Carne" })
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.ALERGIAS, @ViewResources.Resources.oet_alergias + ":", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.ALERGIAS, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ALERGIAS, "", new { @class = "text-danger" })
                    </div>
                </div>
            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.es_como</h2>
                <br />

                <div class="form-group col-sm-6">
                    @Html.EditorFor(model => model.COMO_ENTERO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COMO_ENTERO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_waiverTitulo</h2>
                <div class="well" style="font-size:medium">
                   @ViewResources.Resources.oet_waiver
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@ViewResources.Resources.oet_guardar class="btn btn-default" />
            </div>
        </div>
    </div>
}

           
