@model RegistroVisitantes.Models.INFOVISITA
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/themes/smoothness/jquery-ui.css" />
<script language="javascript" type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.1.min.js"></script>
<script language="javascript" type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/jquery-ui.min.js"></script>

@{
    ViewBag.Title = "EditESINTRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

}

<script>
    document.getElementById("visitantes").className += "active";
</script>

<script type="text/javascript">
    String.prototype.toProperCase = function () {
        return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    };
    $(document).ready(function () {
        $("#paises").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Visitantes/Paises",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.NOMBRE.toLowerCase().toProperCase(), value: item.NOMBRE.toLowerCase().toProperCase(), data: item.CAT_PAISES };
                        }))

                    }
                })
            },
            messages: {
                noResults: "No hay resultados", results: ""
            }
        });
        $("#nacions").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Visitantes/Nacionalidades",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.GENTILICIO.toLowerCase().toProperCase(), value: item.GENTILICIO.toLowerCase().toProperCase(), data: item.CAT_PAISES };
                        }))

                    }
                })
            },
            messages: {
                noResults: "No hay resultados", results: ""
            }
        });
    });
</script>

<h2>@ViewResources.Resources.oet_titulo</h2>
<h3>@ViewResources.Resources.reservacion : @Html.DisplayFor(model => model.RESERVACION.NUMERO)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_RESERVACION)
        @Html.HiddenFor(model => model.CEDULA)
        @Html.HiddenFor(model => model.PERSONA.PAIS)
        @Html.HiddenFor(model => model.PERSONA.ESTADO)
        @Html.HiddenFor(model => model.PERSONA.CIUDAD)
        @Html.HiddenFor(model => model.PERSONA.POSICION)
        @Html.HiddenFor(model => model.PERSONA.INSTITUCION)
        @Html.HiddenFor(model => model.PERSONA.TITULO)
        @Html.HiddenFor(model => model.PERSONA.ROL)
        @Html.HiddenFor(model => model.PERSONA.COD_POSTAL)
        @Html.HiddenFor(model => model.PERSONA.CEDULA)
        @Html.HiddenFor(model => model.PERSONA.ESTADO)
        @Html.HiddenFor(model => model.ESTADO)

    <div>
        <hr />

         <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_personal</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NOMBRE, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control", pattern = "[^\\W\\d_]*", maxlength = "20", placeholder="John", title = "John" } })
                @Html.ValidationMessageFor(model => model.PERSONA.NOMBRE, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.APELLIDO, @ViewResources.Resources.oet_apellidos + ":", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control", pattern = "[^\\W\\d_]*[' ']*[^\\W\\d_]*", maxlength = "50", placeholder="Smith Smith", title="Smith Smith" } })
                @Html.ValidationMessageFor(model => model.PERSONA.APELLIDO, "", new { @class = "text-danger" })
            </div>
             <div class="form-group col-sm-6">
                 @Html.LabelFor(model => model.PERSONA.NACIONALIDADI.GENTILICIO, @ViewResources.Resources.oet_nacionalidad + ":", htmlAttributes: new { @class = "control-label " })
                 @Html.EditorFor(model => model.PERSONA.NACIONALIDADI.GENTILICIO, new { htmlAttributes = new { @class = "form-control", @id = "nacions", @name = "nacions" } })
                 @Html.ValidationMessageFor(model => model.PERSONA.NACIONALIDADI.GENTILICIO, "", new { @class = "text-danger" })
             </div>  
             <div class="form-group col-sm-6">
                 @Html.LabelFor(model => model.PERSONA.CEDULA, @ViewResources.Resources.oet_id + ":", htmlAttributes: new { @class = "control-label " })
                 @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                 @Html.ValidationMessageFor(model => model.PERSONA.CEDULA, "", new { @class = "text-danger" })
             </div>   
    

            <div class="form-group col-sm-6" style="margin-top: 20px">
                @Html.LabelFor(model => model.PERSONA.DIRECCION, @ViewResources.Resources.oet_direccion + ":", htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.PERSONA.DIRECCION, "", new { @class = "text-danger" })
            </div>

             <div class="form-group col-sm-6">
                 @Html.LabelFor(model => model.PERSONA.PAISI.NOMBRE, @ViewResources.Resources.oet_pais, htmlAttributes: new { @class = "control-label " })
                 @Html.EditorFor(model => model.PERSONA.PAISI.NOMBRE, new { htmlAttributes = new { @class = "form-control", @id = "paises", @name = "paises" } })
                 @Html.ValidationMessageFor(model => model.PERSONA.PAISI.NOMBRE, "", new { @class = "text-danger" })
             </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.TELEFONO, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control", type = "number",placeholder="12345678" } })
                @Html.ValidationMessageFor(model => model.PERSONA.TELEFONO, "", new { @class = "text-danger" })
            </div>

             <div class="form-group col-sm-6">
                 @Html.LabelFor(model => model.PERSONA.EMAIL, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label" })
                 @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control", @id = "e-mail", type="email", maxlength = "80", placeholder="email@gmail.com" } })
                 @Html.ValidationMessageFor(model => model.PERSONA.EMAIL, "", new { @class = "text-danger" })
             </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.GENERO, @ViewResources.Resources.oet_sexo + ":", htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.PERSONA.GENERO, (IEnumerable<SelectListItem>)ViewBag.listSexo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.GENERO, "", new { @class = "text-danger" })
            </div>

            </div>

            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_contactosTitulo</h2>
                <br />
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", pattern = "[^\\W\\d_]*[' ']*[^\\W\\d_]*[' ']*[^\\W\\d_]*", maxlength = "70", placeholder="John Smith Smith", title="John Smith Smith" } })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.TEL_EMERGENCIA, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.TEL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", type="number", placeholder="12345678" } })
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.EMAIL_EMERGENCIA, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", type="email", maxlength = "80", placeholder = "email@gmail.com" } })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.REL_EMERGENCIA, @ViewResources.Resources.oet_contactoRelacion + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_resTitulo</h2>
                <br />
               

                    <div class="form-group col-sm-6" style="margin-top: -5px; margin-left:0px">
                        @Html.LabelFor(model => model.DIETA, @ViewResources.Resources.oet_dieta, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.DIETA, (IEnumerable<SelectListItem>)ViewBag.listDieta, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DIETA, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.OBSERVACIONES_DIETA, @ViewResources.Resources.oet_otrasRes + ":", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OBSERVACIONES_DIETA, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-sm-6">
                        <label for="dieta">@ViewResources.Resources.oet_preferencias</label>
                        <br />                                             
                        @Html.LabelFor(model => model.CARNE, @ViewResources.Resources.oet_carne, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.CARNE, new { @class = "form-control, (bool)ViewBag.Carne" })
                        @Html.LabelFor(model => model.POLLO, @ViewResources.Resources.oet_pollo, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.POLLO, new { @class = "form-control, (bool)ViewBag.Carne" })
                        @Html.LabelFor(model => model.PESCADO, @ViewResources.Resources.oet_pescado, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.PESCADO, new { @class = "form-control, (bool)ViewBag.Carne" })
                        @Html.LabelFor(model => model.CERDO, @ViewResources.Resources.oet_cerdo, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.CERDO, new { @class = "form-control, (bool)ViewBag.Carne" })
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.ALERGIAS, @ViewResources.Resources.oet_alergias + ":", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.ALERGIAS, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ALERGIAS, "", new { @class = "text-danger" })
                    </div>
                </div>
            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.es_como</h2>
                <br />

                <div class="form-group col-sm-6">
                    @Html.EditorFor(model => model.COMO_ENTERO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COMO_ENTERO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="container">
                <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_waiverTitulo</h2>
                <div class="well">
                   @ViewResources.Resources.es_waiver
                </div>
            </div>

      @*  <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@ViewResources.Resources.oet_guardar class="btn btn-default" />
            </div>
        </div> *@

        <br /><br />
        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="Guardar" class="btn btn-successOET" />
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Details","Visitantes", new { idRes = Model.ID_RESERVACION, ced = Model.CEDULA })';return false;">Cancelar</button>
            </div>
        </div>

    </div>
}

           
