@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = "EditOET";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Information</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_RESERVACION)
    @Html.HiddenFor(model => model.CEDULA)
    @Html.HiddenFor(model => model.PERSONA.CEDULA)

    <div>
        <hr />
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Personal Information</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NOMBRE, "First Name", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.NOMBRE, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.APELLIDO, "Last Name", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.APELLIDO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NACIONALIDAD, "Citizenship ", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.NACIONALIDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.NACIONALIDAD, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.CEDULA, "Identification ", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.PERSONA.NACIONALIDAD, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.DIRECCION, "Address ", htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.DIRECCION, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.TELEFONO, "Telephone ", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.TELEFONO, "", new { @class = "text-danger" })
                <br />
            </div>


            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.EMAIL, "E-mail ", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.EMAIL, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.GENERO, "Gender ", htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.PERSONA.GENERO, (IEnumerable<SelectListItem>)ViewBag.listSexo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.GENERO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Emergency Contact</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, "Contact", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_EMERGENCIA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.TEL_EMERGENCIA, "Contact Number", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.TEL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEL_EMERGENCIA, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.EMAIL_EMERGENCIA, "Contact E-mail", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAIL_EMERGENCIA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.REL_EMERGENCIA, "Relationship", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.REL_EMERGENCIA, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Dietary Restrictions and Allergies</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DIETA, "Dieta ", htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.DIETA, (IEnumerable<SelectListItem>)ViewBag.listDieta, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DIETA, "", new { @class = "text-danger" })
            </div>


            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.OBSERVACIONES_DIETA, "Other Dietary ", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OBSERVACIONES_DIETA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                <label for="dieta">Preference</label>
                <br />

                @Html.LabelFor(model => model.CARNE, "Beef", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.CARNE.Value, new { htmlAttributes = new { @class = "form-control, , (bool)ViewBag.Carne" } })
                @Html.LabelFor(model => model.POLLO, "Chicken", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.POLLO.Value, new { htmlAttributes = new { @class = "form-control, (bool)ViewBag.Pollo" } })
                @Html.LabelFor(model => model.PESCADO, "Fish", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.PESCADO.Value, new { htmlAttributes = new { @class = "form-control, (bool)ViewBag.Pescado" } })
                @Html.LabelFor(model => model.CERDO, "Pork", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.CERDO.Value, new { htmlAttributes = new { @class = "form-control, (bool)ViewBag.Cerdo" } })

            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ALERGIAS, "Allergies", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ALERGIAS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ALERGIAS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Purpose</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PROPOSITO, "Purpose", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.PROPOSITO, (IEnumerable<SelectListItem>)ViewBag.listProposito, new { @class = "form-control" })
            </div>
            <div id="textboxOtroProposito" class="form-group col-sm-6">
                @Html.LabelFor(model => model.OTRO_PROPOSITO, "Other", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.OTRO_PROPOSITO, new { htmlAttributes = new { @class = "form-control "} })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Only for Course Participants</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NOMBRE_CURSO, "Course Name", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NOMBRE_CURSO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_CURSO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NUMERO_CURSO, "Course Number", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NUMERO_CURSO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NUMERO_CURSO, "", new { @class = "text-danger" })
            </div>
            <br />

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.ROL, "Course Role", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.PERSONA.ROL, (IEnumerable<SelectListItem>)ViewBag.listRoles, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.ROL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Position (For Investigators)</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.POSICION, "Position", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.PERSONA.POSICION, (IEnumerable<SelectListItem>)ViewBag.listaPosicion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.POSICION, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="Save" class="btn btn-successOET" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
