@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = @ViewResources.Resources.oet_titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewResources.Resources.oet_titulo</h2>
<h3>@ViewResources.Resources.reservacion : @Html.DisplayFor(model => model.RESERVACION.NUMERO)</h3>

@using (Html.BeginForm())
{
    <!-- Modal -->
    <div id="popup" class="modal fade" role="dialog">
    </div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_RESERVACION)
    @Html.HiddenFor(model => model.CEDULA)
    @Html.HiddenFor(model => model.PERSONA.CEDULA)
    @Html.HiddenFor(model => model.ESTADO)


    <div>
        <hr />

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_personal</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NOMBRE, @ViewResources.Resources.oet_nombre, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control", pattern = "[^\\W\\d_]*", maxlength = "20" } })
                @Html.ValidationMessageFor(model => model.PERSONA.NOMBRE, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.APELLIDO, @ViewResources.Resources.oet_apellidos, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control", pattern = "[^\\W\\d_]*[' ']*[^\\W\\d_]*", maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.PERSONA.APELLIDO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.NACIONALIDADI.GENTILICIO, @ViewResources.Resources.oet_nacionalidad, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.NACIONALIDADI.GENTILICIO, new { htmlAttributes = new { @class = "form-control", @id="nacions", @name="nacions" } })
                @Html.ValidationMessageFor(model => model.PERSONA.NACIONALIDADI.GENTILICIO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.CEDULA, @ViewResources.Resources.oet_id, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.PERSONA.CEDULA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.TITULO, @ViewResources.Resources.oet_tituloPer, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.TITULO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.TITULO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group  col-sm-6">
                @Html.LabelFor(model => model.PERSONA.CIUDAD, @ViewResources.Resources.oet_ciudad, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.CIUDAD, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.PAISI.NOMBRE, @ViewResources.Resources.oet_pais, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.PAISI.NOMBRE, new { htmlAttributes = new { @class = "form-control", @id = "paises", @name = "paises" } })
                @Html.ValidationMessageFor(model => model.PERSONA.PAISI.NOMBRE, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.COD_POSTAL, @ViewResources.Resources.oet_codigo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.COD_POSTAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONA.COD_POSTAL, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.DIRECCION, @ViewResources.Resources.oet_direccion, htmlAttributes: new { @class = "control-label " })
                @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.DIRECCION, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.TELEFONO, @ViewResources.Resources.oet_telefono, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control", type="number" } })
                @Html.ValidationMessageFor(model => model.PERSONA.TELEFONO, "", new { @class = "text-danger" })
                <br />
            </div>


            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.EMAIL, @ViewResources.Resources.oet_correo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control", type="email" } })
                @Html.ValidationMessageFor(model => model.PERSONA.EMAIL, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.GENERO, @ViewResources.Resources.oet_sexo, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.PERSONA.GENERO, (IEnumerable<SelectListItem>)ViewBag.listSexo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.GENERO, "", new { @class = "text-danger" })
            </div>

			<div class="form-group col-sm-6">
				@Html.LabelFor(model => model.PERSONA.INSTITUCIONI.FULL_NAME, @ViewResources.Resources.oet_institucion, htmlAttributes: new { @class = "control-label " })
				@Html.EditorFor(model => model.PERSONA.INSTITUCIONI.FULL_NAME, new { htmlAttributes = new { @class = "form-control", @id="insts", @name="insts"} })
				@Html.ValidationMessageFor(model => model.PERSONA.INSTITUCIONI.FULL_NAME, "", new { @class = "text-danger" })
                <button id="createInstBtn" class="btn btn-success" type="button">
                    @ViewResources.Resources.tituloInst
                </button>
			</div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_contactosTitulo</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, @ViewResources.Resources.oet_nombre, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", pattern = "[^\\W\\d_]*[' ']*[^\\W\\d_]*[' ']*[^\\W\\d_]*", maxlength = "70" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_EMERGENCIA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.TEL_EMERGENCIA, @ViewResources.Resources.oet_telefono, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.TEL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", type="number" } })
                @Html.ValidationMessageFor(model => model.TEL_EMERGENCIA, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.EMAIL_EMERGENCIA, @ViewResources.Resources.oet_correo, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control", type="email" } })
                @Html.ValidationMessageFor(model => model.EMAIL_EMERGENCIA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.REL_EMERGENCIA, @ViewResources.Resources.oet_contactoRelacion, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.REL_EMERGENCIA, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_resTitulo</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DIETA, @ViewResources.Resources.oet_dieta, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.DIETA, (IEnumerable<SelectListItem>)ViewBag.listDieta, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DIETA, "", new { @class = "text-danger" })
            </div>


            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.OBSERVACIONES_DIETA, @ViewResources.Resources.oet_otrasRes, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OBSERVACIONES_DIETA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                <label for="dieta">@ViewResources.Resources.oet_preferencias</label>
                <br />

                @Html.LabelFor(model => model.CARNE, @ViewResources.Resources.oet_carne, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.CARNE,  new { @class = "form-control, , (bool)ViewBag.Carne"  })
                @Html.LabelFor(model => model.POLLO, @ViewResources.Resources.oet_pollo, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.POLLO,  new { @class = "form-control, (bool)ViewBag.Pollo" })
                @Html.LabelFor(model => model.PESCADO, @ViewResources.Resources.oet_pescado, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.PESCADO,  new { @class = "form-control, (bool)ViewBag.Pescado"  })
                @Html.LabelFor(model => model.CERDO, @ViewResources.Resources.oet_cerdo, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.CERDO,  new { @class = "form-control, (bool)ViewBag.Cerdo" })

            </div>
            
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ALERGIAS, @ViewResources.Resources.oet_alergias, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.ALERGIAS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ALERGIAS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_propositoTitulo</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PROPOSITO, @ViewResources.Resources.oet_proposito, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.PROPOSITO, (IEnumerable<SelectListItem>)ViewBag.listProposito, new { @class = "form-control" })
            </div>
            <div id="textboxOtroProposito" class="form-group col-sm-6">
                @Html.LabelFor(model => model.OTRO_PROPOSITO, @ViewResources.Resources.oet_otro, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.OTRO_PROPOSITO, new { htmlAttributes = new { @class = "form-control " } })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_solocursos</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NOMBRE_CURSO, @ViewResources.Resources.oet_cursoNombre, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NOMBRE_CURSO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_CURSO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NUMERO_CURSO, @ViewResources.Resources.oet_cursoNum, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NUMERO_CURSO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NUMERO_CURSO, "", new { @class = "text-danger" })
            </div>
            <br />

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ROL_CURSO, @ViewResources.Resources.oet_cursoRol, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.ROL_CURSO, (IEnumerable<SelectListItem>)ViewBag.listRoles, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ROL_CURSO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_investPosTitulo</h2>
            <br />
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PERSONA.POSICION, @ViewResources.Resources.oet_posicion, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.PERSONA.POSICION, (IEnumerable<SelectListItem>)ViewBag.listaPosicion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONA.POSICION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_waiverTitulo</h2>
            <div class="well">
                @ViewResources.Resources.oet_waiver
            </div>
        </div>

        <br /><br />
        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="Guardar" class="btn btn-successOET" />                
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Details","Visitantes", new { idRes = Model.ID_RESERVACION, ced = Model.CEDULA })';return false;">Cancelar</button>
             </div>
        </div>
    </div>    
}
@section Scripts {
    <script>
    document.getElementById("visitantes").className += "active";
    </script>

    <script type="text/javascript">
    function initAutoComplete() {
        $('#popup').on('shown.bs.modal', function (e) {
            $("#country").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Visitantes/Paises",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        appendTo: $('#country'),
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.NOMBRE.toLowerCase().toProperCase(), value: item.NOMBRE.toLowerCase().toProperCase(), data: item.CAT_PAISES };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "No hay resultados", results: ""
                }
            });
            $("#country").autocomplete("option", "appendTo", "#popup");
        });
    }
    function openPopup() {
        $("#popup").dialog("open");
    }
    String.prototype.toProperCase = function () {
        return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    };
    $(document).ready(function () {
        $("#insts").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Visitantes/Instituciones",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.FULL_NAME+"\t( "+item.NOMBRE.toLowerCase().toProperCase()+")", value: item.FULL_NAME, data: item.CAT_INSTITUCION };
                        }))

                    }
                })
            },
            messages: {
                noResults: "No hay resultados", results: ""
            }
        });
        $("#paises").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Visitantes/Paises",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.NOMBRE.toLowerCase().toProperCase(), value: item.NOMBRE.toLowerCase().toProperCase(), data: item.CAT_PAISES };
                        }))

                    }
                })
            },
            messages: {
                noResults: "No hay resultados", results: ""
            }
        });
        $("#nacions").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Visitantes/Nacionalidades",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.GENTILICIO.toLowerCase().toProperCase(), value: item.GENTILICIO.toLowerCase().toProperCase(), data: item.CAT_PAISES };
                        }))

                    }
                })
            },
            messages: {
                noResults: "No hay resultados", results: ""
            }
        });
        $('#createInstBtn').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CreateInstitucion", "Visitantes")',
                data: { ajaxInput: $('#ajaxInput').val() },
                success: function (result) {
                    $('#popup').html(result);
                    $('#popup').modal('show');
                    initAutoComplete();
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });

        });
        
    });
    </script>
}