@model PagedList.IPagedList<RegistroVisitantes.Models.INFOVISITA>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Visitantes</h2>

@if (ViewBag.idRes != null)
{
    <h3>Reservación:  @ViewBag.idRes</h3>
}
else
{
    using (Html.BeginForm())
    {
        <p>
            Buscar por Número de reservación:
            <input type="text" name="id" id="fromDate" />
            <button type="submit" class="btn btn-success">
                <i class="fa fa-search"></i>
            </button>
        </p>
    }
}


<table class="table table-bordered table-condensed">
    <tr>
        <th>
            Número reserva
        </th>
        <th>
            Organización
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Correo electrónico
        </th>
        <th>
            Identificación
        </th>
        <th>
            Firma
        </th>
        <th>
            Imprimir
        </th>
        <th>
            Inhabilitar
        </th>
        <th>
            Información
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ESTADO == false)
        {
            @:<tr style="background-color:#c9d4c7;">
        }
        else
        {
            @:<tr>
        }

        <td align="center">
            @Html.DisplayFor(modelItem => item.RESERVACION.NUMERO)
        </td>
            <td align="center">
                    @if (item.RESERVACION.ANFITRIONA == "01") { <p>OET</p> } else { <p>ESINTRO</p>}
            </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.APELLIDO)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.EMAIL)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.CEDULA)
                        </td>
                        <td align="center">
                            <input type="checkbox" name="firma" value="firma"
                                   @(item.ESTADO == false ? "disabled = \"disabled \" " : "")>
                        </td>
                        <td align="center">
                            <button type="button" class="btn btn-default" onclick="printPage()"
                                    @(item.ESTADO == false ? "disabled = \"disabled \" " : "")>
                                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                            </button>

                            @*<a class='mylink' onclick='mylink' data-id='@item.ID_RESERVACION' data-ced='@item.CEDULA' data-tipo='@item.RESERVACION.ANFITRIONA'>
                                    <span class="glyphicon glychecphicon-print" aria-hidden="true"></span>
                                </a>*@
                        </td>
                        <td align="center">
                            @Html.ActionLink("Cambiar estado", "Delete", new { idRes = item.ID_RESERVACION, idPer = item.CEDULA })
                        </td>
                        <td align="center">
                            @Html.ActionLink("Ver información", "Details", "Visitantes", new { idRes = item.ID_RESERVACION, ced = item.CEDULA }, new { @class = "btn btn-success" })
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        </td>
                        @:</tr>
                    }
</table>

<div id="printerDiv" style="display:none"></div>

<br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, Pagina => Url.Action("Index",
        new { Pagina, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))

<script>
    $('.mylink').click(function () 
    {
        if ($(this).data('tipo') == 2)
        {
            w = window.open("/Visitantes/DetailsESINTRO?idR=" + $(this).data('id') + "&cedula=" + $(this).data('ced') + "");
        }
       else
       {
            w = window.open("/Visitantes/DetailsOET?idR=" + $(this).data('id') + "&cedula=" + $(this).data('ced') + "");
       }
        //doSomething($(this).data("id"));
        w.print();
    });
</script>
