@model PagedList.IPagedList<RegistroVisitantes.Models.INFOVISITA>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Visitantes</h2>
<hr />
@using (Html.BeginForm())
{
    <p>
        Buscar por Número de reservación:
        <input type="text" name="id" id="fromDate" />
        <button type="submit" class="btn btn-success">
            <i class="fa fa-search"></i>
        </button>
    </p>
}

<table class="table table-bordered table-striped table-condensed table-hover">
    <tr>
        <th>
            Número reserva
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Correo electrónico
        </th>
        <th>
            Identificación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_RESERVACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONA.APELLIDO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONA.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONA.CEDULA)
            </td>
            <td>
                @Html.ActionLink("Ver visitante", "Details", "Visitantes", new { ID = item.ID_RESERVACION }, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@ 
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Pagina => Url.Action("Index",
        new { Pagina, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))


