@model PagedList.IPagedList<RegistroVisitantes.Models.INFOVISITA>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Consulta de Visitantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta de Visitantes</h2>

@if (ViewBag.idRes != null)
{
    <h3>Reservación:  @ViewBag.num</h3>
}


<div class="col-sm-8">
@using (Html.BeginForm())
{
    <p>
        Buscar por Número de reservación:
        <input type="text" name="numRes" id="numRes" class="form-control" style="display:inline" />
        <button type="submit" class="btn btn-success">
            <i class="fa fa-search"></i>
        </button>
    </p>
}
</div>

@if (ViewBag.idRes != null && !((string)ViewBag.idRes).IsEmpty() && (string)Session["Rol"]=="S")
{
    @Html.ActionLink("Agregar visitante", "Index", "Formulario", new {idRes = ViewBag.idRes}, new { @class = "btn btn-success", @style = "float:right;" })
}

<table class="table table-bordered table-condensed">
    <tr style="background-color:#dff0d8">
        <th style="text-align:center;">
            Número reserva
        </th>
        <th style="text-align:center;">
            Organización
        </th>
        <th style="text-align:center;">
            Nombre
        </th>
        <th style="text-align:center;">
            Apellido
        </th>
        <th style="text-align:center;">
            Correo electrónico
        </th>
        <th style="text-align:center;">
            Identificación
        </th>
        <th style="text-align:center;">
            Firma
        </th>
        <th style="text-align:center;">
            Imprimir
        </th>
        <th style="text-align:center;">
            Inhabilitar
        </th>
        <th style="text-align:center;">
            Información
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ESTADO == "I")
        {
            @:<tr style="background-color:#c9d4c7;">
        }
        else
        {
            @:<tr>
        }

        <td align="center">
            @Html.DisplayFor(modelItem => item.RESERVACION.NUMERO)
        </td>
            <td align="center">
                    @if (item.RESERVACION.ANFITRIONA == "01") { <p>OET</p> } else { <p>ESINTRO</p>}
            </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.APELLIDO)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.EMAIL)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PERSONA.CEDULA)
                        </td>
                        <td align="center">
                            <input type="checkbox" onclick='firma' name="firma" data-ced='@item.PERSONA.CEDULA' data-id='@item.ID_RESERVACION' class="firma form-control"
                                   @(item.ESTADO == "I" ? "disabled = \"disabled \" " : 
                                        (item.ESTADO == "F") ? "checked" : "" )>                            
                        </td>
                        <td align="center">

                            <button class='mylink btn btn-success' onclick='mylink' data-id='@item.ID_RESERVACION' data-ced='@item.CEDULA' data-tipo='@item.RESERVACION.ANFITRIONA'  @(item.ESTADO == "I" ? "disabled = \"disabled \" " : "")>
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                </button>
                        </td>
                        <td align="center">
                            @Html.ActionLink("Cambiar estado", "Delete", new { idRes = item.ID_RESERVACION, idPer = item.CEDULA }, new { @class = "btn btn-success" })
                        </td>
                        <td align="center">
                            @Html.ActionLink("Ver información", "Details", "Visitantes", new { idRes = item.ID_RESERVACION, ced = item.CEDULA }, new { @class = "btn btn-success" })
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        </td>
                        @:</tr>
                    }
</table>    

<div id="printerDiv" style="display:none"></div>

<br />
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, Pagina => Url.Action("Index",
        new { Pagina, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))

@if (ViewBag.idRes != null && !((string)ViewBag.idRes).IsEmpty())
{
     @Html.ActionLink("Volver a Reservas", "Index", "Reservas", new { }, new { @class = "btn btn-danger", @style = "margin-right:5px;" })
     @Html.ActionLink("Ver todos los visitantes", "Index", "Visitantes", new { }, new { @class = "btn btn-danger" })
}

<script>

    /*
        * Desc: Funcion de impresion de los details de cada visitante
        * Requiere: N/A
        * Devuelve: N/A
        * 
        */

    $('.mylink').click(function () 
    {
        if ($(this).data('tipo') == 2)
        {
            w = window.open("/Visitantes/DetailsESINTRO?idR=" + $(this).data('id') + "&cedula=" + $(this).data('ced') + "");
        }
       else
       {
            w = window.open("/Visitantes/DetailsOET?idR=" + $(this).data('id') + "&cedula=" + $(this).data('ced') + "");
       }
        //doSomething($(this).data("id"));
        w.print();
    });

    $(function () {
        $('.firma').change(function () {
            var self = $(this);
            var id = self.data('id');
            var ced = self.data('ced');
            var value;
            if (self.is(":checked")) { value = "F"; } else { value = "A" }
            
            $.ajax({
                url: "/Visitantes/guardarFirma?idRes="+id+"&ced="+ced+"&val="+value,
                type: 'POST',
            });
        });
    });
</script>
