@model PagedList.IPagedList<RegistroVisitantes.Models.INFOVISITA>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Visitantes</h2>

@if (ViewBag.idRes != null)
{
    <h3>Reservación:  @ViewBag.idRes</h3>
}
else
{
    using (Html.BeginForm())
    {
        <p>
            Buscar por Número de reservación:
            <input type="text" name="id" id="fromDate" />
            <button type="submit" class="btn btn-success">
                <i class="fa fa-search"></i>
            </button>
        </p>
    }
}


<table class="table table-bordered table-striped table-condensed table-hover">
    <tr>
        <th>
            Número reserva
        </th>
        <th>
            Organización
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Correo electrónico
        </th>
        <th>
            Identificación
        </th>
        <th>
            Firma
        </th>
        <th>
            Imprimir
        </th>
        <th>
            Inhabilitar
        </th>
        <th>
            Ver Información
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.RESERVACION.NUMERO)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.RESERVACION.ANFITRIONA)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.PERSONA.APELLIDO)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.PERSONA.EMAIL)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.PERSONA.CEDULA)
            </td>
            <td align="center">
                <input type="checkbox" name="firma" value="firma">
            </td>
            <td align="center">
              @* @Html.ActionLink("Imprimir", "Details", "Visitantes", new { idRes = item.ID_RESERVACION, ced = item.CEDULA }, new { @class = "btn btn-success" }) *@  

           @Html.ActionLink("Link text", "Refrescar", "Visitantes", new { }, new { @class = "myLink", data_id = item.ID_RESERVACION, data_ced = item.CEDULA, data_tipo = item.RESERVACION.ANFITRIONA }) 
        @* <button type="button" class="btn btn-default" onclick="printPage('" + item.RESERVACION.NUMERO + "')" >
           <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
       </button>
@*
    <a class="btn btn-default" href="@Url.Action("Print", new { idRes = item.ID_RESERVACION, ced = item.CEDULA})">
        <i class="glyphicon glyphicon-print"></i>
        <span class="sr-only">Edit</span>
    </a>*@

            </td>
            <td align="center">
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            <td align="center">
                @Html.ActionLink("Ver informacion", "Details", "Visitantes", new { idRes = item.ID_RESERVACION, ced = item.CEDULA }, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            </td>
        </tr>
    }

</table>

<div id="printerDiv" style="display:none"></div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Pagina => Url.Action("Index",
        new { Pagina, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))

<script>

    $(".myLink").click(function ()
    {
        //alert($(this).data("id") + $(this).data("ced"));
        //Console.log($(this).data("id"), $(this).data("ced"));
        if ($(this).data("tipo") > 1)
        {
            w = window.open('/Visitantes/DetailsOET?idR=' + $(this).data("id") + '&cedula=' + $(this).data("ced") + '');
            w.print();
        }
        else
        {
            w = window.open('/Visitantes/DetailsESINTRO?idR=' + $(this).data("id") + '&cedula=' + $(this).data("ced") + '');
            w.print();
        }                  
    });

   function printPage(a)
   {
       //Console.log(idRes,ced);
       //var div = document.getElementById("printerDiv");
       //var idRes = $('item.ID_RESERVACION');
       alert(a);
      //div.innerHTML = '<iframe src="~/" onload="this.contentWindow.print();"></iframe>';
   }
</script>

