@model PagedList.IPagedList<RegistroVisitantes.Models.PREREGISTROCONTACTO>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Visitantes</h2>
@* - @Html.DisplayFor(model => model.First().IDRESERVACION)*@
<hr />


<table class="table table-bordered table-striped table-condensed table-hover">
    <tr>
        <th>
            Número reserva
            @*@Html.DisplayNameFor(model => model.First().IDRESERVACION)*@
        </th>
        <th>
            Nombre
            @*@Html.DisplayNameFor(model => model.First().FIRST_NAME)*@
        </th>
        <th>
            Apellido
            @*@Html.DisplayNameFor(model => model.First().LAST_NAME)*@
        </th>
        <th>
            Correo electrónico
            @*@Html.DisplayNameFor(model => model.First().E_MAIL)*@
        </th>
        <th>
            Tipo identificación
            @*@Html.DisplayNameFor(model => model.First().IDENTIFICATION_TYPE)*@
        </th>
        <th>
            Identificación
            @*@Html.DisplayNameFor(model => model.First().IDENTIFICATION)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDRESERVACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIRST_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_MAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDENTIFICATION_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDENTIFICATION)
            </td>
            <td>
                @Html.ActionLink("Ver visitante", "Details", "Visitantes", new { ID = item.NUMPREREGISTRO }, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Pagina => Url.Action("Index",
        new { Pagina, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))


