@model RegistroVisitantes.Models.INFOVISITA

@{
    ViewBag.Title = @ViewResources.Resources.oet_titulo;
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<h2>@ViewResources.Resources.oet_titulo</h2>
@using (Html.BeginForm("ChangeCulture", "Formulario", new { idRes = ViewBag.idRes }))
{
    <p>
        @(ViewResources.Resources.seleccionarLen): @Html.DropDownList("ddlCulture", new SelectList(new[]
 {
 new{value="en",text=@ViewResources.Resources.english},
  new{value="es",text=@ViewResources.Resources.spanish}
 }, "value", "text", Session["CurrentCulture"]), new { onchange = "this.form.submit();", @class = "form-control" })
    </p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ESTADO)
    @Html.HiddenFor(model => model.PERSONA.ESTADO)

    <div class="container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="float:right">
                    <label>@ViewResources.Resources.oet_auto</label>
                    <input id="ajaxInput" class="form-control col-sm-10" />
                    <button id="btnAjax" class="btn btn-success col-sm-1 col-sm-offset-1" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_personal</h2>
            <br />

            <div id="personalInfo">

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.NOMBRE, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PERSONA.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.NOMBRE, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.APELLIDO, @ViewResources.Resources.oet_apellidos + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.PERSONA.APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.APELLIDO, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.NACIONALIDAD, @ViewResources.Resources.oet_nacionalidad + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PERSONA.NACIONALIDAD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.NACIONALIDAD, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.CEDULA, @ViewResources.Resources.oet_id + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.PERSONA.CEDULA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.CEDULA, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.TITULO, @ViewResources.Resources.oet_tituloPer + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.PERSONA.TITULO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.TITULO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group  col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.CIUDAD, @ViewResources.Resources.oet_ciudad + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PERSONA.CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.CIUDAD, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.PAIS, @ViewResources.Resources.oet_pais + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.PERSONA.PAIS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.PAIS, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.COD_POSTAL, @ViewResources.Resources.oet_codigo + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PERSONA.COD_POSTAL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.COD_POSTAL, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.DIRECCION, @ViewResources.Resources.oet_direccion + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.PERSONA.DIRECCION, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PERSONA.DIRECCION, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.TELEFONO, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.PERSONA.TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.TELEFONO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.EMAIL, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PERSONA.EMAIL, new { htmlAttributes = new { @class = "form-control", @id = "e-mail" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.EMAIL, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    <label>@(ViewResources.Resources.oet_sexo):</label>
                    <select name="genero" class="form-control">
                        <option value="male">@ViewResources.Resources.oet_masc</option>
                        <option value="female">@ViewResources.Resources.oet_fem</option>
                    </select>
                </div>

                @*  @Html.LabelFor(model => model.PERSONA.GENERO, "Gender" ,htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.PERSONA.GENERO, (SelectList)ViewBag.sexoList, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.PERSONA.GENERO, "", new { @class = "text-danger" })
                *@


                @*<div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.PERSONA.GENERO, @ViewResources.Resources.oet_sexo + ":", htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.PERSONA.GENERO, (SelectList) ViewBag.sexoList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PERSONA.GENERO, "", new { @class = "text-danger" })
                    </div>*@



                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.INSTITUCION, @ViewResources.Resources.oet_institucion + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.PERSONA.INSTITUCION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONA.INSTITUCION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_contactosTitulo</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.NOMBRE_EMERGENCIA, @ViewResources.Resources.oet_nombre + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.NOMBRE_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE_EMERGENCIA, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.TEL_EMERGENCIA, @ViewResources.Resources.oet_telefono + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.TEL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEL_EMERGENCIA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.EMAIL_EMERGENCIA, @ViewResources.Resources.oet_correo + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EMAIL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL_EMERGENCIA, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.REL_EMERGENCIA, @ViewResources.Resources.oet_contactoRelacion + ":", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.REL_EMERGENCIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.REL_EMERGENCIA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
 
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_resTitulo</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="dieta">@(ViewResources.Resources.oet_dieta):</label>
                    <select name="dietas" class="form-control">
                        <option value="No Restriction">@ViewResources.Resources.oet_sinrestr</option>
                        <option value="Vegetarian">@ViewResources.Resources.oet_vege</option>
                        <option value="Vegan">@ViewResources.Resources.oet_vegano</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="dieta">@ViewResources.Resources.oet_preferencias</label>
                    <br />
                    <form action="demo_form.asp" method="get">
                        <div class="row">
                            <input id="carne" type="checkbox" name="checkCarne" value="true"> @ViewResources.Resources.oet_carne<br>
                            <input id="pollo" type="checkbox" name="checkPollo" value="true"> @ViewResources.Resources.oet_pollo<br>
                            <input id="pescado" type="checkbox" name="checkPescado" value="true"> @ViewResources.Resources.oet_pescado<br>
                            <input id="cerdo" type="checkbox" name="checkCerdo" value="true"> @ViewResources.Resources.oet_cerdo<br>
                        </div>
                    </form>

                    @*@Html.LabelFor(model => model.CARNE, "Beef", htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.CARNE.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.POLLO, "Chicken", htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.POLLO.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.PESCADO, "Fish", htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.PESCADO.Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.CERDO, "Pork", htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.CERDO.Value, new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.ALERGIAS, @ViewResources.Resources.oet_alergias + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.ALERGIAS, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.ALERGIAS, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.OBSERVACIONES_DIETA, @ViewResources.Resources.oet_otrasRes + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.OBSERVACIONES_DIETA, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OBSERVACIONES_DIETA, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_propositoTitulo</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PROPOSITO, @ViewResources.Resources.oet_proposito + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.PROPOSITO, (SelectList)ViewBag.propositoList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PROPOSITO, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    <div id="textboxOtroProposito">
                        @Html.LabelFor(model => model.PROPOSITO, @ViewResources.Resources.oet_otro + ":", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PROPOSITO, new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.PROPOSITO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_solocursos</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.NOMBRE_CURSO, @ViewResources.Resources.oet_cursoNombre + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NOMBRE_CURSO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE_CURSO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.NUMERO_CURSO, @ViewResources.Resources.oet_cursoNum + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NUMERO_CURSO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NUMERO_CURSO, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.ROL_CURSO, @ViewResources.Resources.oet_cursoRol + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.ROL_CURSO, (SelectList)ViewBag.roleList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ROL_CURSO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_investPosTitulo</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PERSONA.POSICION, @ViewResources.Resources.oet_investPosTitulo + ":", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.PERSONA.POSICION, (SelectList)ViewBag.positionList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PERSONA.POSICION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">@ViewResources.Resources.oet_waiverTitulo</h2>
            <div class="well" style="font-size:medium">
                @ViewResources.Resources.oet_waiver
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="@(ViewResources.Resources.oet_enviar)" class="btn btn-successOET" />
            </div>
        </div>
    </div>
 }



@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAjax').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("AutocompletarOET", "Formulario")',
                    data: { ajaxInput: $('#ajaxInput').val() },
                    success: function (result) {
                        $('#personalInfo').html(result);
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });

            });
            // esconder otroProp
            $('#textboxOtroProposito').hide();
            $('#PROPOSITO').change(function () {
                var value = $(this).val();
                if (value == "@(ViewResources.Resources.oet_prop11)") {
                    $('#textboxOtroProposito').show();
                } else {
                    $('#textboxOtroProposito').hide();
                }
            });
        });

    </script>
}