@model RegistroVisitantes.Models.PREREGISTROCONTACTO

@{
    ViewBag.Title = "CreateOET";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateOET</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Personal Information</h2>
            <br />

            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.FIRST_NAME, "First Name", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger" })
                </div>


            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.LAST_NAME, "Last Name",  htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.INSTITUTION,  "Institution", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.INSTITUTION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INSTITUTION, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.CATEGORY, "Position", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.CATEGORY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CATEGORY, "", new { @class = "text-danger" })
            </div>      
         </div>

        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ACADEMIC_DEGREE, "Title(Mr., Mrs, Dr., Other)", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.ACADEMIC_DEGREE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACADEMIC_DEGREE, "", new { @class = "text-danger" })
            </div>


            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NACIONALITY, "Citizenship", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NACIONALITY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NACIONALITY, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.GENDER, "Gender" ,htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.GENDER, (SelectList)ViewBag.sexoList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.IDENTIFICATION, "Identification", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.IDENTIFICATION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDENTIFICATION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group  col-sm-6">
                @Html.LabelFor(model => model.CITY, "City/State", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CITY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.COUNTRY_BIRTH, "Country", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.COUNTRY_BIRTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COUNTRY_BIRTH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ZIP_CODE, "Postal Code", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ZIP_CODE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZIP_CODE, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ADDRESS_L1, "Address", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.ADDRESS_L1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADDRESS_L1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PHONE, "Telephone", htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.E_MAIL, "E-mail", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.E_MAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E_MAIL, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Emergency Contact</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.EMERGENCY_CONTACT1, "Contact", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EMERGENCY_CONTACT1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMERGENCY_CONTACT1, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.EMERGENCY_NUMBER1, "Contact Number", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EMERGENCY_NUMBER1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMERGENCY_NUMBER1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.EMERGENCY_E_MAIL1, "Contact E-mail", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EMERGENCY_E_MAIL1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMERGENCY_E_MAIL1, "", new { @class = "text-danger" })
                    </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.RELATIONSHIP_CONTACT1, "Relationship", htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.RELATIONSHIP_CONTACT1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RELATIONSHIP_CONTACT1, "", new { @class = "text-danger" })
                </div>
            </div>
          </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Dietary Restrictions and Allergies</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="dieta">Diet</label>
                    <select name="dietas" class="form-control">
                        <option value="sr">No Restriction</option>
                        <option value="veg">Vegetarian</option>
                        <option value="vg">Vegan</option>
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="dieta">Preference</label>
                        <br />
                        <input type="checkbox" name="carne" value="Beef"> Beef<br> 
                        <input type="checkbox" name="pollo" value="Chicken"> Chicken<br>
                        <input type="checkbox" name="pescado" value="Fish"> Fish<br>
                        <input type="checkbox" name="cerdo" value="Pork"> Pork<br>
                    </div>
                        @*Html.LabelFor(model => model.ADDRESS_L2, "Beef", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.BEEF.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.ADDRESS_L2, "Chicken", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.CHICKEN.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.ADDRESS_L2, "Fish", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.FISH.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.ADDRESS_L2, "Pork", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.PORK.Value, new { htmlAttributes = new { @class = "form-control" } })*@
                    </div>
                </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @*Cambiar CONTACTO.ADDRESS a PREREGISTRO.ALERGIAS  *@
                    @Html.LabelFor(model => model.ADDRESS_COUNTRY, "Allergies", htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.ADDRESS_COUNTRY, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.ADDRESS_COUNTRY, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Purpose of the Visit</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PROPOSITO, "Purpose", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.PROPOSITO, (SelectList)ViewBag.propositoList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PROPOSITO, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.PROPOSITO, "Other", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PROPOSITO, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.PROPOSITO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Only for Course Participants</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.NOMCURSO, "Course Name", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NOMCURSO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMCURSO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.NUMCURSO, "Course Number", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NUMCURSO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NUMCURSO, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.ROLCURSO, "Course Role", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.ROLCURSO, (SelectList)ViewBag.roleList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ROLCURSO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Position(For Investigators)</h2>
            <br />
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.POSITION, "Purpose", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.POSITION, (SelectList)ViewBag.positionList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.POSITION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Waiver of Liability</h2>
            <div class="well" style="font-size:medium">
                I hereby confirm that I have been properly informed that any and all visits to the Organization for Tropical
                Studies(OTS) involve inherent risks related to carrying out activities in biological conservation stations,
                such as walking through slippery, moist trails and/or areas, covered with foliage and trees. In addition, I
                have been informed that in the area to be visited there are snakes, insects and other animals with the well-known
                risk such as bites and stings. I have no health problems that forbid me from participating in the visit that I am
                about to make and I agree to follow all instructions given to me for my own safety. I hereby release OTS and
                ESINTRO S.A., their legal representatives, directors and employees, of all civil, penal and any other kind of
                responsability for any physical or moral injury, sickness or death resulting from my stay in OTS facilities, which
                I am assuming under my own risk.
            </div>
        </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-successOET" />
                </div>
            </div>
        </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
