@model PagedList.IPagedList<RegistroVisitantes.Models.INFOVISITA>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Detalles del reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1><strong>Crear reportes</strong></h1>
    <hr />
    <div class="row">
        <div class="col-lg-12" id="resPanel">
            <div style="border:2px solid #ccc; width:100%; height: 60px; margin-bottom: 20px; display:inline-flex;" id="divChk">
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col1 == true ? "checked" : "") id="col1" type="checkbox"> Compañía</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col2 == true ? "checked" : "") id="col2" type="checkbox"> Estación</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col3 == true ? "checked" : "") id="col3" type="checkbox"> Reservación</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col4 == true ? "checked" : "") id="col4" type="checkbox"> Fecha Entrada</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col5 == true ? "checked" : "") id="col5" type="checkbox"> Fecha Salida</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col6 == true ? "checked" : "") id="col6" type="checkbox"> Tipo de Visitante</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col7 == true ? "checked" : "") id="col7" type="checkbox"> Nacionalidad</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col8 == true ? "checked" : "") id="col8" type="checkbox"> Nombre Completo</label>
                <label style="margin: 0px 5px;"><input class="chk" @(ViewBag.col9 == true ? "checked" : "") id="col9" type="checkbox"> Correo electrónico</label>
            </div>
            <div class="panel panel-default" id="panelResultados">
                <div class="panel-heading">
                    <span style="font-size: 30px;"><strong>Resultados:</strong></span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered" id="tablaResultados">
                            <thead>
                                <tr id="tableHeader">
                                    <th @(ViewBag.col1 == false ? "hidden" : "")>Compañía</th>
                                    <th @(ViewBag.col2 == false ? "hidden" : "")>Estación</th>
                                    <th @(ViewBag.col3 == false ? "hidden" : "")>Reservación</th>
                                    <th @(ViewBag.col4 == false ? "hidden" : "")>Fecha entrada</th>
                                    <th @(ViewBag.col5 == false ? "hidden" : "")>Fecha salida</th>
                                    <th @(ViewBag.col6 == false ? "hidden" : "")>Tipo Visitante</th>
                                    <th @(ViewBag.col7 == false ? "hidden" : "")>Nacionalidad</th>
                                    <th @(ViewBag.col8 == false ? "hidden" : "")>Nombre Completo</th>
                                    <th @(ViewBag.col9 == false ? "hidden" : "")>Correo electrónico</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr class="tableRow">
                                        <td @(ViewBag.col1 == false ? "hidden" : "")>
                                            @if (item.RESERVACION.ANFITRIONA == "01")
                                            { <p>OET</p> }
                                            else
                                            { <p>ESINTRO</p>}
                                        </td>
                                        <td @(ViewBag.col2 == false ? "hidden" : "")>
                                            @Html.DisplayFor(modelItem => item.RESERVACION.ESTACIONI.SIGLAS)
                                        </td>
                                        <td @(ViewBag.col3 == false ? "hidden" : "")>
                                            @(item.RESERVACION.NUMERO)
                                        </td>
                                        <td @(ViewBag.col4 == false ? "hidden" : "")>
                                            @(item.RESERVACION.ENTRA.Value.ToString("dd MMM yyyy"))
                                        </td>
                                        <td @(ViewBag.col5 == false ? "hidden" : "")>
                                            @(item.RESERVACION.SALE.Value.ToString("dd MMM yyyy"))
                                        </td>
                                        <td @(ViewBag.col6 == false ? "hidden" : "")>
                                            @(item.PERSONA.ROL)
                                        </td>
                                        <td @(ViewBag.col7 == false ? "hidden" : "")>
                                            @(item.PERSONA.NACIONALIDAD)
                                        </td>
                                        <td @(ViewBag.col8 == false ? "hidden" : "")>
                                            @(item.PERSONA.NOMBRE) @(item.PERSONA.APELLIDO)
                                        </td>
                                        <td @(ViewBag.col9 == false ? "hidden" : "")>
                                            <a href="mailto:@(item.PERSONA.EMAIL)">@(item.PERSONA.EMAIL)</a>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Count < 5)
                                {
                                    for (int i = 5 - Model.Count; i > 0; i--)
                                    {
                                        <tr class="tableRow">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <br />
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, Pagina => Url.Action("Detalles",
        new
        {
            Pagina,
            FECHADESDE = ViewBag.FECHADESDE,
            FECHAHASTA = ViewBag.FECHAHASTA,
            ANFITRIONA = ViewBag.ANFITRIONA,
            ESTACION = ViewBag.ESTACION,
            TIPO = ViewBag.TIPO,
            NACIONALIDAD = ViewBag.NACIONALIDAD,
            col1 = ViewBag.col1,
            col2 = ViewBag.col2,
            col3 = ViewBag.col3,
            col4 = ViewBag.col4,
            col5 = ViewBag.col5,
            col6 = ViewBag.col6,
            col7 = ViewBag.col7,
            col8 = ViewBag.col8,
            col9 = ViewBag.col9
        }))
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size: 30px;"><strong>Totales:</strong></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Compañía</th>
                                        <th>Número de reservaciones</th>
                                        <th>Número de visitantes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>OET</td>
                                        <td style="text-align:center">@ViewBag.totalReservOET</td>
                                        <td style="text-align:center">@ViewBag.totalVisitOET</td>
                                    </tr>
                                    <tr>
                                        <td>ESINTRO</td>
                                        <td style="text-align:center">@ViewBag.totalReservESINTRO</td>
                                        <td style="text-align:center">@ViewBag.totalVisitESINTRO</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td style="text-align:center"><strong>@ViewBag.totalReservInstitucion</strong></td>
                                        <td style="text-align:center"><strong>@ViewBag.totalVisitInstitucion</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Estación</th>
                                        <th>Número de reservaciones</th>
                                        <th>Número de visitantes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>La Selva</td>
                                        <td style="text-align:center">@ViewBag.totalReservLS</td>
                                        <td style="text-align:center">@ViewBag.totalVisitLS</td>
                                    </tr>
                                    <tr>
                                        <td>Palo Verde</td>
                                        <td style="text-align:center">@ViewBag.totalReservPV</td>
                                        <td style="text-align:center">@ViewBag.totalVisitPV</td>
                                    </tr>
                                    <tr>
                                        <td>Las Cruces</td>
                                        <td style="text-align:center">@ViewBag.totalReservLC</td>
                                        <td style="text-align:center">@ViewBag.totalVisitLC</td>
                                    </tr>
                                    <tr>
                                        <td>Central</td>
                                        <td style="text-align:center">@ViewBag.totalReservCRO</td>
                                        <td style="text-align:center">@ViewBag.totalVisitCRO</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td style="text-align:center"><strong>@ViewBag.totalReservEstacion</strong></td>
                                        <td style="text-align:center"><strong>@ViewBag.totalVisitEstacion</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            @Html.ActionLink("Exportar", "Download", "Reportes", new {  FECHADESDE = ViewBag.FECHADESDE,
           FECHAHASTA = ViewBag.FECHAHASTA,
           ANFITRIONA = ViewBag.ANFITRIONA,
           ESTACION = ViewBag.ESTACION,
           TIPO = ViewBag.TIPO,
           NACIONALIDAD = ViewBag.NACIONALIDAD,
           col1 = ViewBag.col1,
           col2 = ViewBag.col2,
           col3 = ViewBag.col3,
           col4 = ViewBag.col4,
           col5 = ViewBag.col5,
           col6 = ViewBag.col6,
           col7 = ViewBag.col7,
           col8 = ViewBag.col8,
           col9 = ViewBag.col9
       }, new { @class = "btn btn-success" })
        </div>
    </div>
    <div class="row" style="margin-bottom: 100px;">
        <div class="col-lg-8 col-lg-offset-2"> </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $("#FECHADESDE").datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button",
                onSelect: function (date) {
                    var dt1 = $('#FECHADESDE').datepicker('getDate');
                    var dt2 = $('#FECHAHASTA').datepicker('getDate');
                    if (dt2 <= dt1) {
                        dt1.setDate(dt1.getDate() + 1);
                        $('#FECHAHASTA').datepicker('setDate', dt1);
                    } else {
                        dt1.setDate(dt1.getDate() + 1);
                    }
                    $('#FECHAHASTA').datepicker('option', 'minDate', dt1);
                }
            });
            $('#FECHAHASTA').datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button"
            });
            var date2 = $('#FECHADESDE').datepicker('getDate');
            $('#FECHAHASTA').datepicker('option', 'minDate', date2);

            // no me juzqguen por esta función
            $(".chk").change(function () {
                var b = $(this).is(':checked');
                var index = $(this).parent().index()+1;
                $("#tableHeader th:nth-child("+index+")").toggle();
                $(".tableRow td:nth-child(" + index + ")").toggle();

                var url2 = "";
                for (cont = 1; cont < 10; cont++) {
                    url2 += "col" + cont + "=";
                    var value = $("#divChk label:nth-child(" + cont + ") input").is(":checked");
                    if (value)
                        url2 += "True";
                    else
                        url2 += "False";
                    if (cont < 9)
                        url2 += "&";
                }

                var anchors = document.querySelectorAll('a');
                Array.prototype.forEach.call(anchors, function (element, index) {
                    
                    var patt = new RegExp("http:\/\/localhost:11289\/Reportes\/Detalles");
                    var patt2 = new RegExp("http:\/\/localhost:11289\/Reportes\/Download");
                    
                    if (patt.test(element.href) || patt2.test(element.href))
                    {
                        var url = element.href.split("col1")[0];
                        element.href = url + url2;
                    }
                    
                });
            });

        });
    </script>
}