@model RegistroVisitantes.Models.REPORTE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>REPORTE</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.FECHADESDE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHADESDE)
                @Html.ValidationMessageFor(model => model.FECHADESDE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHAHASTA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHAHASTA)
                @Html.ValidationMessageFor(model => model.FECHAHASTA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ANFITRIONA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ANFITRIONA)
                @Html.ValidationMessageFor(model => model.ANFITRIONA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ESTACION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ESTACION)
                @Html.ValidationMessageFor(model => model.ESTACION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIPO)
                @Html.ValidationMessageFor(model => model.TIPO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NACIONALIDAD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NACIONALIDAD)
                @Html.ValidationMessageFor(model => model.NACIONALIDAD)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
