@model IEnumerable<RegistroVisitantes.Models.REPORTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHADESDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAHASTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANFITRIONA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NACIONALIDAD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHADESDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAHASTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANFITRIONA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NACIONALIDAD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
