@model PagedList.IPagedList<RegistroVisitantes.Models.INFOVISITA>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Crear reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1><strong>Crear reportes</strong></h1>
    <hr />
    <button style="margin-bottom: 20px;" class="btn btn-success" id="togglePanelParametros">Esconder parámetros</button>

    <div class="row" id="myColumns">
        <div class="col-lg-3" id="paramPanel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size: 30px;"><strong>Parámetros:</strong></span>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label for="FECHADESDE">Desde:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="position: relative; z-index: 100000;width: 150px;" type="text" name="FECHADESDE" id="FECHADESDE" value="@string.Format("{0:d}", ViewBag.fromDate)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="FECHAHASTA">Hasta:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="position: relative; z-index: 100000;width: 150px;" type="text" name="FECHAHASTA" id="FECHAHASTA" value="@string.Format("{0:d}", ViewBag.toDate)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ANFITRIONA">Compañia:</label>
                                <select class="form-control" id="ANFITRIONA" name="ANFITRIONA">
                                    <option value="TODAS" @(ViewBag.ANFITRIONA == "TODAS" ? "selected" : "")>Todas</option>
                                    <option value="OET" @(ViewBag.ANFITRIONA == "OET" ? "selected" : "")>ESINTRO</option>
                                    <option value="ESINTRO" @(ViewBag.ANFITRIONA == "ESINTRO" ? "selected" : "")>OET</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="ESTACION">Estación:</label>
                                <select class="form-control" id="ESTACION" name="ESTACION">
                                    <option value="00">Todas</option>
                                    <option value="01">La Selva (LS)</option>
                                    <option value="02">Palo Verde (PV)</option>
                                    <option value="03">Las Cruces (LC)</option>
                                    <option value="04">Central (CRO)</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="TIPO">Tipo de visitante:</label>
                                <select class="form-control" id="TIPO" name="TIPO">
                                    <option value="00">Todos</option>
                                    <option value="01">Staff</option>
                                    <option value="02">Investigador</option>
                                    <option value="03">Grupo Educativo</option>
                                    <option value="04">Otros visitantes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="NACIONALIDAD">Nacionalidad:</label>
                                <select class="form-control" id="NACIONALIDAD" name="NACIONALIDAD">
                                    <option value="00">Todos</option>
                                    <option value="01">Costarricense</option>
                                    <option value="02">Estadounidense</option>
                                    <option value="03">Francés</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Crear reporte" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-lg-9" id="resPanel">
            <div class="panel panel-default" id="panelResultados">
                <div class="panel-heading">
                    <span style="font-size: 30px;"><strong>Resultados:</strong></span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered" id="tablaResultados">
                            <thead>
                                <tr>
                                    <th>Compañía</th>
                                    <th>Estación</th>
                                    <th>Reservación</th>
                                    <th>Fecha entrada</th>
                                    <th>Fecha salida</th>
                                    <th>Tipo Visitante</th>
                                    <th>Nacionalidad</th>
                                    <th>Nombre Completo</th>
                                    <th>Correo electrónico</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0) {
                                    for (int i = 0; i < 5; i++) {
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td> 
                                        </tr>
                                    }
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                <td align="center">
                                    @if (item.RESERVACION.ANFITRIONA == "01") { <p>OET</p> } else { <p>ESINTRO</p>}
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RESERVACION.ESTACIONI.SIGLAS)
                                </td>
                                <td>
                                    @(item.RESERVACION.NUMERO)
                                </td>
                                <td>
                                    @(item.RESERVACION.ENTRA)
                                </td>
                                <td>
                                    @(item.RESERVACION.SALE)
                                </td>
                                <td>
                                    @(item.PERSONA.ROL)
                                </td>
                                <td>
                                    @(item.PERSONA.NACIONALIDAD)
                                </td>
                                <td>
                                    @(item.PERSONA.NOMBRE) @(item.PERSONA.APELLIDO)
                                </td>
                                <td>
                                    <a href="mailto:@(item.PERSONA.EMAIL)">@(item.PERSONA.EMAIL)</a>
                                </td>   
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, Pagina => Url.Action("Index",
        new { Pagina, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size: 30px;"><strong>Totales:</strong></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Compañía</th>
                                        <th>Número de reservaciones</th>
                                        <th>Número de visitantes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>OET</td>
                                        <td style="text-align:center">100</td>
                                        <td style="text-align:center">300</td>
                                    </tr>
                                    <tr>
                                        <td>ESINTRO</td>
                                        <td style="text-align:center">26</td>
                                        <td style="text-align:center">100</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td style="text-align:center"><strong>126</strong></td>
                                        <td style="text-align:center"><strong>400</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Estación</th>
                                        <th>Número de reservaciones</th>
                                        <th>Número de visitantes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>La Selva</td>
                                        <td style="text-align:center">80</td>
                                        <td style="text-align:center">250</td>
                                    </tr>
                                    <tr>
                                        <td>Palo Verde</td>
                                        <td style="text-align:center">15</td>
                                        <td style="text-align:center">60</td>
                                    </tr>
                                    <tr>
                                        <td>Las Cruces</td>
                                        <td style="text-align:center">6</td>
                                        <td style="text-align:center">29</td>
                                    </tr>
                                    <tr>
                                        <td>Central</td>
                                        <td style="text-align:center">10</td>
                                        <td style="text-align:center">61</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td style="text-align:center"><strong>126</strong></td>
                                        <td style="text-align:center"><strong>400</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <button class="btn btn-success">Imprimir</button>
            <button class="btn btn-success">Exportar</button>
        </div>
    </div>
    <div class="row" style="margin-bottom: 100px;">
        <div class="col-lg-8 col-lg-offset-2"> </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $("#FECHADESDE").datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button",
                onSelect: function (date) {
                    var dt1 = $('#FECHADESDE').datepicker('getDate');
                    var dt2 = $('#FECHAHASTA').datepicker('getDate');
                    if (dt2 <= dt1) {
                        dt1.setDate(dt1.getDate() + 1);
                        $('#FECHAHASTA').datepicker('setDate', dt1);
                    } else {
                        dt1.setDate(dt1.getDate() + 1);
                    }
                    $('#FECHAHASTA').datepicker('option', 'minDate', dt1);
                }
            });
            $('#FECHAHASTA').datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button"
            });
            var date2 = $('#FECHADESDE').datepicker('getDate');
            $('#FECHAHASTA').datepicker('option', 'minDate', date2);


            var $myCols = $("#myColumns");
            $("#togglePanelParametros").click(function () {
                $("#paramPanel").toggle();
                $(this).text(function (i, text) {
                    return text === "Esconder parámetros" ? "Mostrar parámetros" : "Esconder parámetros";
                })
                if ($("#paramPanel").is(":visible")) {
                    $("#resPanel").removeClass("col-lg-12");
                    $("#resPanel").addClass("col-lg-9");
                }
                else {
                    $("#resPanel").removeClass("col-lg-9");
                    $("#resPanel").addClass("col-lg-12");
                }
            });

        });
    </script>
}