@{
    ViewBag.Title = "Crear reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1><strong>Crear reportes</strong></h1>
    <hr />
    <div class="row" >
        <div class="col-lg-6 col-lg-offset-3" id="paramPanel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size: 26px;"><strong>Parámetros:</strong></span>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Detalles", "Reportes", FormMethod.Post, new { target = "_blank" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-inline">
                            @Html.ValidationSummary(true)
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="FECHADESDE">Desde:</label>
                                <input class="form-control" style="position: relative; z-index: 100000;width: 150px;" type="text" name="FECHADESDE" id="FECHADESDE" value="@string.Format("{0:d}", ViewBag.fromDate)" />
                            </div>
                            <br />
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="FECHAHASTA">Hasta:</label>
                                <input class="form-control" style="position: relative; z-index: 100000;width: 150px;" type="text" name="FECHAHASTA" id="FECHAHASTA" value="@string.Format("{0:d}", ViewBag.toDate)" />
                            </div>
                            <br />
                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="ANFITRIONA">Compañia:</label>
                                <select class="form-control" id="ANFITRIONA" name="ANFITRIONA">
                                    <option value="TODAS" @(ViewBag.ANFITRIONA == "TODAS" ? "selected" : "")>Todas</option>
                                    <option value="OET" @(ViewBag.ANFITRIONA == "OET" ? "selected" : "")>ESINTRO</option>
                                    <option value="ESINTRO" @(ViewBag.ANFITRIONA == "ESINTRO" ? "selected" : "")>OET</option>
                                </select>
                                <label for="ESTACION">Estación:</label>
                                <select class="form-control" id="ESTACION" name="ESTACION">
                                    <option value="00" @(ViewBag.ESTACION == "00" ? "selected" : "")>Todas</option>
                                    <option value="01" @(ViewBag.ESTACION == "01" ? "selected" : "")>La Selva (LS)</option>
                                    <option value="02" @(ViewBag.ESTACION == "02" ? "selected" : "")>Palo Verde (PV)</option>
                                    <option value="03" @(ViewBag.ESTACION == "03" ? "selected" : "")>Las Cruces (LC)</option>
                                    <option value="04" @(ViewBag.ESTACION == "04" ? "selected" : "")>Central (CRO)</option>
                                </select>
                            </div>

                            <div class="form-group" style="margin-bottom: 15px;">
                                <label for="TIPO">Tipo de visitante:</label>
                                <select class="form-control" id="TIPO" name="TIPO">
                                    <option value="00" @(ViewBag.TIPO == "00" ? "selected" : "")>Todos</option>
                                    <option value="01" @(ViewBag.TIPO == "01" ? "selected" : "")>Staff</option>
                                    <option value="02" @(ViewBag.TIPO == "02" ? "selected" : "")>Investigador</option>
                                    <option value="03" @(ViewBag.TIPO == "03" ? "selected" : "")>Grupo Educativo</option>
                                    <option value="04" @(ViewBag.TIPO == "04" ? "selected" : "")>Otros visitantes</option>
                                </select>
                            <br  style="margin-bottom: 15px;"/>
                                <label for="NACIONALIDAD">Nacionalidad:</label>
                                <select class="form-control" id="NACIONALIDAD" name="NACIONALIDAD">
                                    <option value="00" @(ViewBag.NACIONALIDAD == "00" ? "selected" : "")>Todos</option>
                                    <option value="01" @(ViewBag.NACIONALIDAD == "01" ? "selected" : "")>Costarricense</option>
                                    <option value="02" @(ViewBag.NACIONALIDAD == "02" ? "selected" : "")>Estadounidense</option>
                                    <option value="03" @(ViewBag.NACIONALIDAD == "03" ? "selected" : "")>Francés</option>
                                </select>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="FECHADESDE">Columnas a reportar:</label>
                                <div style="border:2px solid #ccc; width:220px; height: 220px; margin-bottom: 20px; overflow-y: scroll;">
                                    <span>@Html.CheckBox("col1", new { @checked = @ViewBag.col1 }) Compañía <br /></span>
                                    <span>@Html.CheckBox("col2", new { @checked = @ViewBag.col2 }) Estación <br /></span>
                                    <span>@Html.CheckBox("col3", new { @checked = @ViewBag.col3 }) Reservación <br /></span>
                                    <span>@Html.CheckBox("col4", new { @checked = @ViewBag.col4 }) Fecha Entrada <br /></span>
                                    <span>@Html.CheckBox("col5", new { @checked = @ViewBag.col5 }) Fecha Salida <br /></span>
                                    <span>@Html.CheckBox("col6", new { @checked = @ViewBag.col6 }) Tipo de Visitante <br /></span>
                                    <span>@Html.CheckBox("col7", new { @checked = @ViewBag.col7 }) Nacionalidad <br /></span>
                                    <span>@Html.CheckBox("col8", new { @checked = @ViewBag.col8 }) Nombre Completo <br /></span>
                                    <span>@Html.CheckBox("col9", new { @checked = @ViewBag.col9 }) Correo electrónico <br /></span>       
                                </div>
                                <input type="submit" value="Crear reporte" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $("#FECHADESDE").datepicker({
                dateFormat: 'dd/mm/yy',
                showOn: "button",
                changeYear: true,
                onSelect: function (date) {
                    var dt1 = $('#FECHADESDE').datepicker('getDate');
                    var dt2 = $('#FECHAHASTA').datepicker('getDate');
                    if (dt2 <= dt1) {
                        dt1.setDate(dt1.getDate() + 1);
                        $('#FECHAHASTA').datepicker('setDate', dt1);
                    } else {
                        dt1.setDate(dt1.getDate() + 1);
                    }
                    $('#FECHAHASTA').datepicker('option', 'minDate', dt1);
                }
            });
            $('#FECHAHASTA').datepicker({
                dateFormat: 'dd/mm/yy',
                changeYear: true,
                showOn: "button"
            });
            var date2 = $('#FECHADESDE').datepicker('getDate');
            $('#FECHAHASTA').datepicker('option', 'minDate', date2);
        });
    </script>
}