<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Registro de Visitantes</title>
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    <!--@Styles.Render("~/Content/Anterior.css")-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="barra-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left"> <img src="Content/Images/logo_oet.png" alt="Logo OET" class="img-responsive logo-oet" /> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="navbar-collapse collapse">
                @{ string url; }
                <ul class="nav navbar-nav">
                    @{ url = Url.Action("Index", "Home"); }
                    <li class="@(url == Request.Url.AbsolutePath ? "active" : string.Empty)">
                        @Html.ActionLink("Inicio", "Index", "Home")
                    </li>

                    @{ url = Url.Action("Index", "Reservas"); }
                    <li class="@(url == Request.Url.AbsolutePath ? "active" : string.Empty)">
                        @Html.ActionLink("Reservas", "Index", "Reservas")
                    </li>

                    @{ url = Url.Action("Index", "Visitantes"); }
                    <li class="@(url == Request.Url.AbsolutePath ? "active" : string.Empty)">
                        @Html.ActionLink("Visitantes", "Index", "Visitantes")
                    </li>

                    @{ url = Url.Action("Index", "Formulario"); }
                    <li class="@(url == Request.Url.AbsolutePath ? "active" : string.Empty)">
                        @Html.ActionLink("Formulario", "Index", "Formulario")
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>



 
    <div class="container body-content">
        @RenderBody()
    </div>
    

    <footer class="footer">
        <div class="container">
            <h6 class="text-center"><a href="#">Contáctenos</a> | &copy; Copyright @DateTime.Now.Year - Todos los derechos reservados. </h6>
            <h6 class="text-center"> Por favor reporte cualquier problema o solicite asistencia a <a href="mailto:contacts.admin@oet.ac.cr">contacts.admin@oet.ac.cr</a></h6>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
