<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Registro de Visitantes</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @*@Styles.Render("~/Content/fontawesome")@*BUNDLE NOT WORKING --- DONT KNOW WHY*@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />


    @*@Styles.Render("~/Content/Anterior.css")*@
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="barra-logo" style="position:relative!important">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left"> <img src="~/Content/Images/logo_oet.png" alt="Logo OET" class="img-responsive logo-oet" /> </div>
                </div>
            </div>
        </div>
    </div>
   

 
    <div class="container body-content">
        @RenderBody()
    </div>
    

    <footer class="footer">
        <div class="container">
            <h6 class="text-center"><a href="#">Contáctenos</a> | &copy; Copyright @DateTime.Now.Year - Todos los derechos reservados. </h6>
            <h6 class="text-center"> Por favor reporte cualquier problema o solicite asistencia a <a href="mailto:contacts.admin@oet.ac.cr">contacts.admin@oet.ac.cr</a></h6>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
