@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && Session["Id"]!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    string url = "";
    <ul class="nav navbar-nav navbar-right">
        
        @if((string)Session["Rol"]!="R") {
            <li>
                @Html.ActionLink("Bienvenid" + Session["Genero"] + " a " + Session["Estacion"] + " (" + Session["Siglas"] + ")", "Index", "Reservas")
            </li>
        }
        else
        {
            url = Url.Action("Index", "Usuario");
            <li class="@(url == Request.Url.AbsolutePath ? "active" : string.Empty)">
                @Html.ActionLink("Usuarios", "Index", "Usuario")
            </li>
        }
        @{ url = Url.Action("Administrar", "Usuario"); }
        <li class="@(url == Request.Url.AbsolutePath ? "active" : string.Empty)" id="visitantes">   
            @Html.ActionLink("" + Session["Nombre"] + " " + Session["Apellido"] + "", "Administrar", "Usuario", routeValues: new { @idUsr = Session["Id"] }, htmlAttributes: new { title = "Administracion" })
        </li>
        <li>
            @Html.ActionLink("Cerrar sesión", "Ingresar", "Usuario")
        </li>
    </ul>
    }
}
else
{
    FormsAuthentication.SignOut();
    string url;
    <ul class="nav navbar-nav navbar-right">
        @{ url = Url.Action("Ingresar", "Usuario"); }
        <li class="@(url == Request.Url.AbsolutePath ? "active" : string.Empty)">@Html.ActionLink("Iniciar sesión", "Ingresar", "Usuario")</li>
    </ul>
}
