@model RegistroVisitantes.Models.RESERVACION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RESERVACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ANFITRIONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANFITRIONA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIORIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRUPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRUPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTRAMTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTRAMTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALEMTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALEMTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLICITANTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLICITANTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLICITADAEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLICITADAEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORMAPAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORMAPAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUENTACLIENTEKEY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUENTACLIENTEKEY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUENTACLIENTEOCLASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUENTACLIENTEOCLASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFICADOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFICADOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFICADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFICADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTO_PREPAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO_PREPAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REFERENCIA_PREPAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REFERENCIA_PREPAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIMERA_COMIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIMERA_COMIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ULTIMA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULTIMA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFICA_RACK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFICA_RACK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFICADO_RACK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFICADO_RACK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
